.btn {
	display: block;
	padding: 10px;
	font-size: 20px;
	padding-top: 30px;
	/* background-image: linear-gradient(45deg, #2edd1d, #f2ff56); */
	background-image: linear-gradient(45deg, #0081ff, #1cbbb4);
	/* background-image: linear-gradient(45deg, #9000ff, #5e00ff); */
	/* background-image: linear-gradient(45deg, #f43f3b, #ec008c); */
	border: 0;
	text-align: left;
	color: #ffffff;
	height: 70px;
	vertical-align: bottom;
	width: 100%;
}

.btn-red {
	background-color: #dd524d;
}

.btn-yellow {
	background-color: #f0ad4e;
}

.desc {
	padding: 10px;
	color: #999999;
}

.post-message-section {
	visibility: hidden;
}

.caves-wrapper {
	position: relative;
	border: 1px solid black;
}

.annotation-buttons-hor {
	display: flex;
	flex-direction: row;
	position: absolute;
	/* top: 40%; */
	z-index: 5000000;
	padding: 5px 7px 5px 7px;
	background-color: rgba(136, 136, 136);
	border-radius: 5px;
	/* opacity: 0.7; */
	/* background-color: rgba(136, 136, 136, 1); */
	/* box-shadow: 0px 2px 5px rgba(136, 136, 136, 1); */

	-moz-user-select: none;
	/*火狐*/
	-webkit-user-select: none;
	/*webkit浏览器*/
	-ms-user-select: none;
	/*IE10*/
	-khtml-user-select: none;
	/*早期浏览器*/
	user-select: none;
}

.annotation-buttons-hor button {
	/* box-shadow: 0px 2px 5px rgba(136, 136, 136, 1); */
	/* border: solid 0.2px #B2B2B2; */
	background-color: rgba(136, 136, 136, 0);
	/* background-color: #464646; */
	border: none;
	/* margin-right: 10px; */
	color: #fefefe;
	border-radius: 3px;
	padding: 1px;
	font-weight: 700;
	font-family: "Microsoft Yahei";
}

.annotation-buttons-hor button:hover {
	color: #FFD700;
	/* background-color: #DDDDDD; */
	/* box-shadow: 0px 2px 5px rgba(136, 136, 136, 1); */
}

.annotation-buttons-hor button i:active {
	color: #FFD700;
}


.hor-annotation-buttons {
	display: flex;
	flex-direction: row;
	position: absolute;
	bottom: 5%;
	z-index: 5000000;
	padding: 5px 7px 5px 7px;
	background-color: rgba(136, 136, 136);
	border-radius: 5px;
	/* opacity: 0.7; */
	/* background-color: rgba(136, 136, 136, 1); */
	/* box-shadow: 0px 2px 5px rgba(136, 136, 136, 1); */
}

.hor-annotation-buttons button {
	/* box-shadow: 0px 2px 5px rgba(136, 136, 136, 1); */
	/* border: solid 0.2px #B2B2B2; */
	background-color: rgba(136, 136, 136, 0);
	/* background-color: #464646; */
	border: none;
	/* margin-right: 10px; */
	color: #fefefe;
	border-radius: 3px;
	padding: 1px;
	font-weight: 600;
	font-family: "Microsoft Yahei";
	font-size: 20px;
}

.hor-annotation-buttons button:hover {
	color: #FFD700;
	/* background-color: #DDDDDD; */
	/* box-shadow: 0px 2px 5px rgba(136, 136, 136, 1); */
}

.hor-annotation-buttons button span:active {
	color: #FFD700;
	/* background-color: #DDDDDD; */
	/* box-shadow: 0px 2px 5px rgba(136, 136, 136, 1); */
}

.hor-annotation-buttons button i:active {
	color: #FFD700;
}

.op-buttons-container {
	width: 100%;
	min-height: 32px;
	/* background-color: #1CBBB4; */
	display: flex;

}

.annotation-buttons {
	overflow-x: auto;
	width: 100%;
	/* height: 32px; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	float: left;
	/* flex-wrap: wrap; */
	/* position: absolute; */
	/* top: 40%; */
	/* z-index: 5000000; */
	padding-right: 10px;
	/* color: #000000; */
	/* background-color: rgb(62 158 255); */
	/* background-color: rgba(156, 156, 156); */
	/* background-color: var(--body-bg-color); */
	/* background-color: var(--toolbar-bg-color); */
	box-shadow: var(--toolbar-box-shadow);
	border-bottom: var(--toolbar-border-bottom);
	/* border-bottom: 2px solid rgba(156, 156, 156); */
	/* border-radius: 0px 5px 5px 0px; */
	/* opacity: 0.7; */
	/* background-color: rgba(136, 136, 136, 1); */
	/* box-shadow: 0px 2px 5px rgba(255, 255, 255, 1); */
}

.annotation-buttons div {
	display: flex;
	flex-direction: row;
}

/*定义了滚动条滑块的样式*/
.annotation-buttons ::-webkit-scrollbar-thumb {
	border-radius: 10px;
	border-style: dashed;
	/* background-color: rgba(0, 0, 0, 0.15); */
	background-color: #fbbd08;
	/* background-color: #ffed00; */
	border-color: #e2242400;
	border-width: 1.5px;
	background-clip: padding-box;
}

.annotation-buttons button {
	/* box-shadow: 0px 2px 5px rgba(136, 136, 136, 1); */
	/* border: solid 0.2px #B2B2B2; */
	background-color: rgba(136, 136, 136, 0);
	/* background-color: #464646; */
	border: none;
	color: #FFFFFF;
	border-radius: 3px;
	padding: 1px;
	margin-left: 10px;
}


.annotation-buttons button:hover {
	color: #FFD700;
	/* background-color: #DDDDDD; */
	/* box-shadow: 0px 2px 5px rgba(136, 136, 136, 1); */
}

.annotation-buttons button i:active {
	color: #FFD700;
}

.button-active {
	color: #FFD700;
}

.closeAnnotationListDiv {
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	/* justify-content: space-between; */
	/* 	position: absolute;
	top: 0; */
	width: 100%;
	height: 32px;
	padding-top: 4px;
	padding-bottom: 2px;
	/* padding-left: 5px; */
	box-shadow: var(--toolbarSidebar-box-shadow);
	border-bottom: var(--toolbarSidebar-border-bottom);
	background-color: var(--sidebar-toolbar-bg-color);
	/* opacity: 1; */
	/* border-bottom: solid 1px #000000; */
	/* background-color: #dddddd; */
}

.closeAnnotationListDiv div {
	border: #000000 2px solid;
	border-radius: 5px;
	margin-right: 5px;
	background-color: #DDDDDD;
	padding: 2px;
	height: 20px;
}

.closeAnnotationListDiv div button {
	background-color: rgba(0, 0, 0, 0);
}

.annotations-list {
	/* z-index: 450000; */
	width: 100%;
	height: 100%;
	/* background-color: #404040; */
	/* background-color: #efefef; */
	/* opacity: 0.5; */
	position: absolute;
	/* border-radius: 0px 10px 10px 0px; */
	/* top: 0px; */
	overflow-y: auto;
	box-shadow:
		0 -4px 4px rgba(0, 0, 0, 0.1),
		0 0 0 2px rgb(255, 255, 255),
		4px 4px 4px rgba(0, 0, 0, 0.2);
}

.annotation-container {
	display: flex;
	align-items: center;
	width: 25%;
	max-width: 250px;
	min-width: 200px;
	height: 85%;
	position: absolute;
	top: 10%;
}

.page-annotations {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.page-annotations-title {
	display: flex;
	flex-direction: row;
	/* align-items: center; */
	justify-content: space-between;
	width: 100%;
	margin-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: solid 1px #000000;
	background-color: #dddddd;
}

.page-annotations-title div {
	display: flex;
	flex-direction: row;
}

.page-annotations-title:hover {
	/* background-color: #F2BD08; */
	background-color: #ffed00;
}

.page-annotations-title p {
	/* margin-left: 15px; */
	margin-top: auto;
}

.page-annotations-title i {
	/* margin:auto; */
	margin-left: 5px;
	margin-right: 5px;
	margin-top: auto;
}

.page-annotations-container {
	padding: 10px 10px 10px 10px;
	font-size: 13px;
	border-bottom: solid 0.5px #888888;
	background-color: #F8f8f8;

	-moz-user-select: none;
	/*火狐*/
	-webkit-user-select: none;
	/*webkit浏览器*/
	-ms-user-select: none;
	/*IE10*/
	-khtml-user-select: none;
	/*早期浏览器*/
	user-select: none;
}

.page-annotations-container1 {
	background-color: #aaf8a0 !important;
}

.page-annotations-container:hover {
	/* background-color: #F2BD08; */
	background-color: #ffed00;

}

.page-annotations-container i {
	float: right;
	position: relative;
	top: 0px;
}

/* .annotations-list::-webkit-scrollbar {
	height: 10px !important;
	width: 10px !important;
}

.annotations-list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	border-style: dashed;
	background-color: #fbbd08;
	border-color: #e2242400;
	border-width: 1.5px;
	background-clip: padding-box;
} */

.anno-canvas {
	background: rgba(255, 255, 255, 0);
	/*关键点*/
	position: absolute;
	z-index: 1;
	/*确保在遮盖的元素的上方*/
	left: 0px;
	top: 0px;
}

.my-processing-tip {
	z-index: 10000;
	position: absolute;
	display: flex;
	align-items: center;
	/* top:20%; */
	top: -500px;
	width: 100%;
	justify-content: center;
	text-align: center;
}

.my-processing-tip div {
	background-color: #efefef;
	border: #808080 1px solid;
	border-radius: 10px;
	padding: 20px;
	width: 300px;
	z-index: 10000000;
	box-shadow:
		0 -4px 4px rgba(0, 0, 0, 0.1),
		0 0 0 2px rgb(255, 255, 255),
		4px 4px 4px rgba(0, 0, 0, 0.2);
}

canvas,
.canvas-container {
	background: rgba(255, 255, 255, 0);
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
}

.canvas-container {
	z-index: 10;
}

.my-menu-x {
	visibility: hidden;
	z-index: -100;
	position: absolute;
	top: 85px;
	right: 25px;
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
	/* background-color: rgba(0, 0, 0, 0.1); */
	background-color: #fff;
	font-size: 10px;
	transition-duration: var(--sidebar-transition-duration);
}

.my-menu-x div {
	min-height: 26px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
	padding-inline: 10px;

}

.my-menu-x div:hover {
	color: #FFD700;
	background-color: rgba(136, 136, 136, 1);
}

.my-menu-x div input {
	border: none;
	background-color: rgba(0, 0, 0, 0);
}

.copy-btn-container {
	z-index: 10000;
	position: absolute;
	top: -50px;
	left: -50px;
}

.vertical-split {
	border-right: #ffffff solid 1px;
	margin-left: 12px;
	margin-right: 12px;
}

.member_list_form {
	display: flex;
	flex-direction: column;
	margin: 5px 2px 5px 0;
	font-size: 13px;
	float: right;
}

.member_name_item {
	text-align: right;
	/* 	margin-right: 5px;
	margin-top: 5px; */
	vertical-align: middle;
	padding: 3px;
	border-radius: 2px;
	/* background-color: #fbbd08; */
}

.member_name_item:hover {
	/* background-color: #fbbd08; */
	background-color: #ffed00;
}


.member_list_form input {
	vertical-align: middle;
	margin-top: -3px;
	margin-left: 5px;
}

.my-annotation-toolbar {
	display: flex;
	align-items: center;
}

.my-annotation-tool {
	background: none;
	border: none;
	padding: 4px;
	font-size: 1rem;
	background-color: #dddddd;
	margin-top: 2px;
}

.my-annotation-tool:active {
	/* color: #FFD700; */
	/* font-weight: 600; */
	background-color: #dedede;
}

.my-annotation-tool i {
	font-size: 20px;
}

.my-annotation-toolbar button {
	font-size: 1.25rem;
	padding: 10px;
}

.my-annotation-toolbar button:hover {
	/* color: #FFD700; */
	/* font-weight: 600; */
	background-color: #dedede;
}

.my-mouse-move-text {
	position: fixed;
	top: -500px;
	z-index: 100000;
	background-color: #FFD700;
	;
	color: #000000;
	border-radius: 4px;
	padding: 5px;
	width: auto;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.link-annotation-item {
	border: 3px dotted red;
}

.my-annotation-history {
	position: fixed;
	top: -500px;
	left: 0px;
	width: 300px;
	z-index: 100000;
	border-radius: 5px;
	border: #888888 2px solid;
}