[dir="ltr"] #mySidebarContainer {
	left: calc(100% - var(--annotation-right-sidebar-width));
}

[dir="rtl"] #mySidebarContainer {
	right: calc(1 * var(--annotation-sidebar-width));
	/* right: 10px; */
}

[dir="ltr"] #mySidebarContainer {
	border-right: var(--doorhanger-border-color-whcm);
}

[dir="rtl"] #mySidebarContainer {
	border-left: var(--doorhanger-border-color-whcm);
}

[dir="ltr"] #mySidebarContainer {
	transition-property: left;
}

[dir="rtl"] #mySidebarContainer {
	transition-property: right;
}

#mySidebarContainer {
	position: absolute;
	/* background-color: #1CBBB4; */
	background-color: var(--body-bg-color);
	box-shadow: inset calc(-1px * var(--dir-factor)) 0 0 rgba(0, 0, 0, 0.25);
	/* top: 32px; */
	top: 64px;
	bottom: 0;
	inset-inline-start: calc(-1 * var(--annotation-sidebar-width));
	width: var(--annotation-sidebar-width);
	visibility: hidden;
	z-index: 100;
	font: message-box;
	border-top: 1px solid rgba(51, 51, 51, 1);
	-webkit-border-end: var(--doorhanger-border-color-whcm);
	border-inline-end: var(--doorhanger-border-color-whcm);
	transition-property: inset-inline-start;
	transition-duration: var(--sidebar-transition-duration);
	transition-timing-function: var(--sidebar-transition-timing-function);
}

/* #outerContainer.sidebarMoving #mySidebarContainer, */
#outerContainer.myAnnotationSidebarOpen #mySidebarContainer {
	visibility: visible;
}

/* [dir="ltr"] #outerContainer.myAnnotationSidebarOpen #viewerContainer:not(.pdfPresentationMode) {
	left: calc(-1 * var(--annotation-sidebar-width));
	overflow: auto;
}

[dir="rtl"] #outerContainer.myAnnotationSidebarOpen #viewerContainer:not(.pdfPresentationMode) {
	right: calc(1 *var(--annotation-sidebar-width));
}


[dir="ltr"] #outerContainer.myAnnotationSidebarOpen #viewerContainer:not(.pdfPresentationMode) {
	transition-property: left;
}

[dir="rtl"] #outerContainer.myAnnotationSidebarOpen #viewerContainer:not(.pdfPresentationMode) {
	transition-property: right;
}
 */
#outerContainer.myAnnotationSidebarOpen #viewerContainer:not(.pdfPresentationMode) {
	margin-right: var(--annotation-sidebar-width);
	/* transition-property: inset-inline-start; */
}

#outerContainer.myAnnotationSidebarOpen #my-menu {
	/* visibility: visible; */
	right: calc(25px + var(--annotation-sidebar-width));
}